/*****************************************************************************/
/* About: Style */
/*****************************************************************************/
.margin{
position:relative;
  margin-left:65%;
  width: 30%
}
.section{
  background-color: gray;
}

