/*****************************************************************************/
/* About: Style */
/*****************************************************************************/
.margin{
position:relative;
  margin-left:65%;
  width: 30%
}
.section{
  background-color: gray;
}
h3 {
	font-size: 20px;
	margin: 5px 0px 5px 0px;

} 

