/*****************************************************************************/
/* Profile: Style */
/*****************************************************************************/
.profile {
    
    margin: 150px 50px;
    padding-top: 5cm;
    padding-bottom: 5cm;
    
}
