<template name="Profile">

<div class="profile">


  <div class="container">
  
    <div class="col-xs-3"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
          <li><a href="#information" data-toggle="tab">Information</a></li>
          <li><a href="#progress" data-toggle="tab">Progress</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
    </div>
    
    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="information">Information</div>
          <div class="tab-pane" id="progress">Progress</div>
          <div class="tab-pane" id="settings">Settings</div>
        </div>
    </div> 
    
  </div>  

</div>  


  
  
  
</template>
