<template name="ProfilesList">
  <div class = "profiles-list" >
  <h1>Profiles List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
    {{#each profiles}}
      <tr>
        <td>{{userId}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>
          {{#linkTo route='editProfile'}}
          <a class="btn btn-primary" aria-label="Update">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          {{/linkTo}}
          {{#quickRemoveButton collection="Profiles" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
            <i class = "fa fa-trash-o"></i>
          {{/quickRemoveButton}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{#linkTo route='insertProfile'}}
    <button type="button" class="btn btn-success">Add Profile</button>
  {{/linkTo}}
</div>
</template>