/*****************************************************************************/
/* Rush: Style */
/*****************************************************************************/


.rush {
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 120px 100px 10px 400px;
}

h4{margin: 0em;line-height: 1em;
}

