<template name="Rush">



  <div class="rush">
     
<body>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        What is Alpha Phi Omega?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Alpha Phi Omega is a national coeducational
      service organization founded on the principles of Leadership, Friendship a
      nd Service. It provides its members the opportunity to develop leadership skills
      as they volunteer on their campus and in their community.
      The service Alpha Phi Omega members provide benefits the campus, the community, the nation, and the organization.
      With more than 400,000 members on over 375 campuses, Alpha Phi Omega continues to provide more service on more campuses
      than any other collegiate service organization.</div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Who can join Alpha Phi Omega? </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Alpha Phi Omega is open to every Purdue Student with no discrimination whatsoever. Although we are called a service fraternity, we are for males and females. Students of every major and year are invited to join. Graduate Students are always welcome to join as well!</div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Why should I join? </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">The Purdue Alpha Gamma chapter of Alpha Phi Omega is one of the most active student organizations at Purdue. Alpha Gamma has hundreds of hours of service projects available every semester so it is one of the easiest ways available to help serve the community you抣l ever find. Alpha Gamma has over 100 active members and so it is also an extremely easy way to meet new people from every year and major at the University.</div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Does APO have a house? </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">No, APO has an office located in Stewart G14 where members sign up for projects, do homework, and hang out. Feel free to drop by and check it out!
      </div>
    </div>
  </div>
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Does APO haze? </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body"> Alpha Gamma has a strict no hazing policy that is in compliance with Purdue policies as well as the national fraternity抯 bylaws. There is no need for hazing in APO as we encourage our cardinal principles of leadership, friendship, and service.</div>
     
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
        What does pledging consist of?  </a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">Pledging is one of the most fun experiences you will have at Purdue. With multiple opportunities for community service, making new friends, and getting involved in leadership positions that can expand your horizons, there are plenty of reasons to pledge! The pledge process for Alpha Phi Omega requires pledges to: 
          <ul>
            <li>Complete 17 total projects across all of our project areas.</li>
            <li>Attend the weekly meetings throughout the semester.</li>
            <li>Obtain signatures from active members.</li>
          </ul>
          There is also a pledge class executive board that pledges are encouraged to run for and will be voted on by pledges. We will also have plenty of great things to do for fun to make sure you have the best pledging experience ever!
       </div>
    </div>
 </div>

   
   
   
   
   
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
        How much of my time will it take up? </a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">Pledging can take up as much or as little time as you want it to. There are 10 weeks of pledgeship in which you attend 1 hour meetings, complete 17 projects (most likely 25 to 30 hours), and attend required events. The more events you attend, the more fun you will have!</div>
      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
        Am I allowed to be in both Alpha Phi Omega and a social fraternity or sorority? </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">Absolutely! We have had many members who decided to be part of Alpha Phi Omega in addition to a social fraternity. We love to see people join that are involved in other organizations. However, pledging both fraternities at the same time is not recommended as there is a lot to do while pledging. </div>
      </div>
  </div>
  
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
        What do I need to do during rush? </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">Rushing is easy! There are no bids or interviews; the only thing that is required to begin pledging is to attend our induction ceremony ("Tapout") in Stewart room G14. We also offer alternate "Tapouts" if you cannot make the one scheduled. Pledge dues are $60 and are due at Tapout so please bring money with you!</div>
    </div>
    
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
        What does it mean to be an active member?  </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body"> Active membership is a little more laid-back than pledging. Actives are required to:
        <ul>
            <li>Complete 15 hours between service and finance projects</li>
            <li>Complete 1 hour of membership projects</li>
            <li>Complete 1 hour of leadership development projects</li>
            <li>Attend all required active events.</li>
            <li>Pay active dues.</li>
          </ul>
      </div>
     </div>
   </div> 
 </div>
</body>

  </div>
</template>
