/*****************************************************************************/
/* InsertProfile: Style */
/*****************************************************************************/
.insertprofile {
	padding-top: 1cm;
	padding-bottom: 5cm;
	padding-left: 5cm;
	padding-right: 5cm;
}
