<template name="About">
  
<div class="wrapper">
  <section>
	<p>
  <img src="images/APO_group_shot.jpg" width="600" height="250" />
  </p>
    <h1>About ΑΦΩ at Purdue University</h1>
    <p>Alpha Phi Omega is a national co-ed service fraternity that is dedicated to 
    serving humanity through our three cardinal principles of Leadership, 
    Friendship, and Service. There are currently over 350 active chapters nationwide. 
    Purdue chapter, the Alpha Gamma chapter, was started in 1931. Since then our chapter 
    has grown from fifteen members to over 100. Purdue  Alpha Gamma chapter has always 
    ranked as one of the top chapters in the national organization in its activities and membership.
    </p>
    </section>
</div>
  
</template>
